:root {
  --purple: #8957e5;
  --red: #da3633;
  --green: #238636;
  --yellow: #9e6a03;
  --blue: #1f6feb;
  --gray: #6e7681;
  --pink: #db61a2;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--bg-secondary);
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--bg-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

label:has(input[type="number"]:focus),
label:has(input[type="number"]:focus-visible) {
  outline: 1px solid var(--toggle-on);
}
