:root {
  --connected: #00FF00;
  --disconnected: #FF0000;
  --bg-secondary: rgb(0, 0, 0);
  --bg-primary: rgb(23, 24, 28);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--bg-secondary);
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--bg-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: none;
  box-shadow: -2px 2px 10px white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
