label.toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

label.toggle input { 
  display: none;
  appearance: none;
}

label.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

label.toggle .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  border-radius: 100%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

label.toggle input:checked + .slider {
  background-color: #2196F3;
}

label.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

label.toggle input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 290.4px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none !important;
  z-index: 999 !important;
}

.content,
.content > * {
  pointer-events: all;
}

.content {
  border-radius: 10%;
  background: var(--bg-secondary);
  --pad: 25px;
  padding: var(--pad);
  position: relative;
}

.content > button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--pad) - 1.2rem/2);
  right: calc(var(--pad) - 1.2rem/2);
}

.settings_modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.rule {
  display: flex;
  justify-content: space-between;
}

.settings_modal > button {
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
  width: 50%;
}

.warning {
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}