/* Input fields */

label.toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

label.toggle input { 
  display: none;
  appearance: none;
}

label.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: var(--toggle-off);
  -webkit-transition: .4s;
  transition: .4s;
}

label.toggle .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  border-radius: 100%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

label.toggle input:checked + .slider {
  background-color: var(--toggle-on);
}

label.toggle input:focus + .slider {
  box-shadow: 0 0 1px var(--toggle-on);
}

label.toggle input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

label.number {
  position: relative;
  display: inline-block;
  width: 60px;
  background-color: var(--toggle-off);
  border: 1px solid var(--toggle-off);
  border-radius: 3px;
}

label.number input { 
  appearance: none;
  width: 100%;
  color: black;
  height: 100%;
  padding: 2px 0 2px 3px;
  border-radius: 3px;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
}

/*  */

.card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 290.4px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none !important;
  z-index: 999 !important;
}

.content,
.content > * {
  pointer-events: all;
}

.content {
  border-radius: 10%;
  background: var(--bg-secondary);
  --pad: 25px;
  padding: var(--pad);
  position: relative;
}

.content > button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--pad) - 1.2rem/2);
  right: calc(var(--pad) - 1.2rem/2);
}

.settings_modal {
  width: 300px;
}

.settings_modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.rule {
  display: flex;
  justify-content: space-between;
}

.settings_modal .button_holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 20px;
}

.settings_modal > form button {
  margin: auto;
  cursor: pointer;
  flex: 1 0 0;
}
.settings_modal > form button[type="submit"] {
  flex: 1 0 100%;
}


.warning {
  margin-top: 10px;
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

.button {
  appearance: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 12px;
  height: 3rem;
  font-size: 1.2rem;
  min-width: 60px;
  border: 2px solid var(--color);
  outline: none;
  height: fit-content;
}

.button:disabled {
  cursor: default;
  opacity: 0.8;
  border: 2px solid transparent;
}

.button:focus-visible,
.button:hover:not(:disabled) {
  box-shadow: -2px 2px 10px var(--color);
}